body {
    margin-top: 75px;
}

#github {
    position: fixed;
    top: 10px;
    left: 10px;
    color: black;
    padding: 8px;
}

#scores {
    position: fixed;
    top: 10px;
    right: 10px;
    color: black;
    border-radius: 5px;
    padding: 8px;
}

#gameTitle, p {
    color: rgb(30 215 96);
}

#startGamebtn {
    background-color:rgb(30 215 96);
    border-radius: 20px;
    height: auto;
    width: auto;
}

.difficulty {
    background-color: rgb(30 215 96);
    border-radius: 14px;

}