body {
    margin-top: 75px;
}

#github {
    position: fixed;
    top: 10px;
    left: 10px;
    color: black;
    padding: 8px;
}

#scores {
    position: fixed;
    top: 10px;
    right: 10px;
    color: black;
    border-radius: 5px;
    padding: 8px;
}